<header>
    <div class="container bg-light">
        <div class="row">
            <div class="col-12">
                <h4 class="display-4">Employee search </h4>
                <h5 class="lead">it only take 5 seconds:)</h5>
                <hr>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6">
                <img src="../../../assets/industry.jpg" class="img-thumbnail" alt="">
            </div>
            <div class="col-md-6  ">
                <mat-card class="text-center">
                    <h4>what do you search</h4>
                    <form class="">
                        <div class="input-group input-group-lg mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <mat-icon color="primary">language</mat-icon>
                                </span>
                            </div>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Country</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <mat-icon color="primary">explore</mat-icon>
                                </span>
                            </div>

                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>city</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <mat-icon color="primary">perm_identity</mat-icon>
                                </span>
                            </div>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Section</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <mat-icon color="primary">perm_identity</mat-icon>
                                </span>
                            </div>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Specialization</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block">search</button>

                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</header>