<header id="home-section">
    <div class="dark-overlay">
        <div class="container home-inner  ">
            <div class="row justify-content-center text-white">
                <h1 class="display-3">Find the Best Jobs in Egypt </h1>
                <p class="lead "> Searching for vacancies & career opportunities? CVStore helps you in your job
                    search in Egypt</p>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 " align="center">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Company</h5>
                            <p class="card-text">Some quick example text to build on the
                                of the card's content.</p>
                            <a routerLink="/companyForm" class="btn btn-outline-dark">Go somewhere</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 " align="center">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">Employee</h5>
                            <p class="card-text">Some quick example text to build on the
                                of the card's content.</p>
                            <a routerLink="/emploteeForm" class="btn btn-outline-dark">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ">
                <form class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
                </form>
            </div>
        </div>
    </div>
</header>